<!-- views/pages/complete_transaction.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container-fluid">
            <% include ../partials/complete_transaction_form %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
