<!-- views/pages/create_customer.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container-fluid">
            <% include ../partials/create_customer_form %>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
