<!-- views/pages/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container-fluid">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <% include ../partials/products_display %>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
